
<!-- Site favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="vendors/styles/core.css">
<link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="vendors/styles/style.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119386393-1');
</script>
<th th:include="nivebar.html"></th>
<div class="main-container">
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div class="card-box mb-30">
        <div class="pd-10">
            <a th:href="@{/chambre/new}" class="btn btn-info text-white">new Room</a>
        </div>
        <div class="pb-20 m-3">
            <table class="table hover multiple-select-row data-table-export nowrap table-sm">
                <thead>
                <tr>
                    <th class="table-plus datatable-nosort">#</th>
                    <th>nom chambre</th>
                    <th>designation</th>
                    <th>prix</th>
                    <th>devise</th>
                    <th>etat</th>
                    <th>Params</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each=" chambre : ${chambrelist}">
                    <tr>
                        <td class="table-plus">[[${chambre.id}]]</td>
                        <td>[[${chambre.name}]]</td>
                        <td>[[${chambre.designation}]]</td>
                        <td>[[${chambre.prix}]]</td>
                        <td>[[${chambre.devise}]]</td>
                        <td>[[${chambre.etat}]]</td>
                        <td>
                            <a th:href="@{/chambre/edit/{id}(id=${chambre.id})}" class="fa fa-pencil mr-3" aria-hidden="true"></a>
                            <a th:href="@{/chambre/delete/{id}(id=${chambre.id})}" class="fa fa-trash " aria-hidden="true"></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

<!--    <div class="modal" id="mymodal">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h3 class="modal-title">warning</h3>-->
<!--                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->

<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                   <span>This is the content</span>-->
<!--                </div>  -->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--    </div>-->

</div>




<!-- js -->
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<!-- buttons for Export datatable -->
<script src="src/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/buttons.print.min.js"></script>
<script src="src/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="src/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="src/plugins/datatables/js/pdfmake.min.js"></script>
<script src="src/plugins/datatables/js/vfs_fonts.js"></script>
<!-- Datatable Setting js -->
<script src="vendors/scripts/datatable-setting.js"></script></body>