
<link rel="apple-touch-icon" sizes="180x180" href="/vendors/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/vendors/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/vendors/images/favicon-16x16.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/vendors/styles/core.css">
<link rel="stylesheet" type="text/css" href="/vendors/styles/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/styles/style.css">

<link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel="stylesheet" href="/style.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>

<th th:include="nivebar.html"></th>


<!--main original-->

<div class="main-container">
    <div class="card-box mb-30">
        <div th:if="${message}" class="alert alert-danger text-center">
            [[${message}]]
        </div>
        <div class="container overflow-hidden"> <br>
            <!--            <h2 class="content__title">Click on steps or 'Prev' and 'Next' buttons</h2>-->
            <!--multisteps-form-->
            <div class="multisteps-form">
                <!--progress bar-->
                <div class="row">
                    <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                        <div class="multisteps-form__progress">
                            <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Infos Chambre</button>
<!--                            <button class="multisteps-form__progress-btn" type="button" title="Address">Address</button>-->
                        </div>
                    </div>
                </div>
                <!--form panels-->
                <div class="row">
                    <div class="col-12 col-lg-8 m-auto">
                        <form class="multisteps-form__form" action="/room/save" method="post" enctype="multipart/form-data">
                            <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                                <h3 class="multisteps-form__title">Ajouter une chambre</h3>
                                <div class="multisteps-form__content">
                                    <div class="form-row mt-4">
<!--                                        <input type="hidden" th:field="${client.id}">-->
                                        <div class="col-12 col-sm-6">
                                            <label class="col-form-label-lg">Nom de la chambre</label>
                                            <input class="multisteps-form__input form-control" type="text" name="name" placeholder="saisir le nom de la chambre" required/>
                                        </div>
                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                            <label class="col-form-label-lg">Designation de la chambre</label>
                                            <input class="multisteps-form__input form-control" type="text" name="designation"   placeholder="saisir la designation" required/>
                                        </div>
                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                            <label class="col-form-label-lg">Photo de la chambre</label>
                                            <input class="multisteps-form__input form-control" type="file" name="image" required/>
                                        </div>
                                    </div>
                                    <div class="form-row mt-4">
                                        <div class="col-12 col-sm-6">
                                            <label class="col-form-label-lg">Prix par jour</label>
                                            <input class="multisteps-form__input form-control" type="number" min="0" oninput="this.value=Math.abs(this.value)" name="prix" placeholder="" required/>
                                        </div>
                                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                            <label class="col-form-label-lg">Devise</label>
                                            <select class="multisteps-form__select form-control" name="devise">
                                                <option value="USD">USD</option>
                                                <option value="CDF">CDF</option>
                                            </select>
<!--                                            <input class="multisteps-form__input form-control" type="text" name="devise"   placeholder="saisir la devise"/>-->
                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4">
                                        <button class="btn btn-success ml-auto" type="submit" title="Send">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
            </div>
            <!--        </div>-->
        </div>
    </div>
</div>

<!-- js -->
<script src="/vendors/scripts/core.js"></script>
<script src="/vendors/scripts/script.min.js"></script>
<script src="/vendors/scripts/process.js"></script>
<script src="/vendors/scripts/layout-settings.js"></script>

<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script>-->
<script  src="/script.js"></script>

<script src="/vendors/scripts/dashboard.js"></script>
