
<link rel="apple-touch-icon" sizes="180x180" href="/vendors/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/vendors/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/vendors/images/favicon-16x16.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/vendors/styles/core.css">
<link rel="stylesheet" type="text/css" href="/vendors/styles/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/styles/style.css">

<link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel="stylesheet" href="/style.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>

<th th:include="nivebar.html"></th>


<!--main original-->

<div class="main-container">
  <div class="card-box mb-30">
    <div th:if="${message}" class="alert alert-danger text-center">
      [[${message}]]
    </div>
    <div th:if="${message1}" class="alert alert-danger text-center">
      [[${message1}]]
    </div>
    <div class="container overflow-hidden"><br>
      <div class="pd-10">
        <a th:href="@{/calSave}" class="btn btn-info text-white" style="border-radius: 15px;">new user</a>
      </div>
      <!--multisteps-form-->
      <div class="multisteps-form">
        <!--progress bar-->
        <div class="row">
          <div class="col-12 col-lg-8 ml-auto mr-auto mb-2">
            <div class="multisteps-form__progress">
              <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Utilisateurs</button>
<!--              <button class="multisteps-form__progress-btn" type="button" title="Address">Chambres occupees</button>-->
            </div>
          </div>
        </div>
        <!--form panels-->
        <div class="row">
          <div class="col-12 col-lg-10 m-auto">
            <form class="multisteps-form__form">
              <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                <div class="multisteps-form__content">
                  <table class="data-table table hover multiple-select-row nowrap table-sm">
                    <thead>
                    <tr>
                      <th class="table-plus datatable-nosort">#</th>
                      <th>Nom d'utilisateur</th>
                      <th>Adresse Email</th>
                      <th>Mot de pass</th>
                      <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each=" login : ${log}">
                      <tr>
                        <td class="table-plus" style="text-align: center">[[${login.id}]]</td>
                        <td style="text-align: center">[[${login.name}]]</td>
                        <td style="text-align: center">[[${login.mail}]]</td>
                        <td style="text-align: center">[[${login.password}]]</td>
                        <td>
                          <a th:href="@{/login/edit/{id}(id=${login.id})}" class="fa fa-pencil mr-3" aria-hidden="true"></a>
                        </td>
                      </tr>
                    </th:block>
                    </tbody>
                  </table>

                </div>
              </div>
              <!--single form panel-->

            </form>
          </div>
        </div>
        <br>
      </div>
      <!--        </div>-->
    </div>
  </div>
</div>

<!-- js -->
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<!-- buttons for Export datatable -->
<script src="src/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/buttons.print.min.js"></script>
<script src="src/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="src/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="src/plugins/datatables/js/pdfmake.min.js"></script>
<script src="src/plugins/datatables/js/vfs_fonts.js"></script>
<!-- Datatable Setting js -->
<script src="vendors/scripts/datatable-setting.js"></script></body>

<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script>-->
<script  src="/script.js"></script>

<!--<script src="/vendors/scripts/dashboard.js"></script>-->
